amqp==2.3.2
arrow==0.12.1
asgiref==2.3.2
asn1crypto==0.24.0
async-timeout==3.0.0
attrs==18.2.0
autobahn==18.9.2
Automat==0.7.0
billiard==3.5.0.4
blessed==1.15.0
celery==4.2.1
certifi==2022.12.7
cffi==1.11.5
channels==2.1.3
chardet==3.0.4
constantly==15.1.0
cryptography==2.3.1
daphne==2.2.2
Deprecated==1.2.4
Django==2.1.1
django-bootstrap4==0.0.7
django-eventstream==2.3.0
django-filter==2.0.0
django-grip==2.0.0
django-picklefield==1.1.0
django-q==1.0.1
django-webpack-loader==0.6.0
djangorestframework==3.8.2
docker==3.5.0
docker-pycreds==0.3.0
gitdb2==2.0.5
github3.py==1.2.0
GitPython==2.1.11
gripcontrol==3.3.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
jwcrypto==0.5.0
kombu==4.2.1
pubcontrol==2.4.2
pycparser==2.19
PyGithub==1.43.3
PyHamcrest==1.9.0
PyJWT==1.6.4
python-dateutil==2.7.3
pytz==2018.5
redis==2.10.6
requests==2.19.1
six==1.11.0
smmap2==2.0.5
Twisted==18.7.0
txaio==18.8.1
uritemplate==3.0.0
urllib3==1.23
vine==1.1.4
wcwidth==0.1.7
websocket-client==0.53.0
Werkzeug==0.14.1
wrapt==1.10.11
zope.interface==4.5.0
